[project]
	description = Jake 2.0
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = "group user/John  Crespi (Jccrespi)"
[access "refs/for/refs/*"]
	read = "group user/John  Crespi (Jccrespi)"
	push = "group user/John  Crespi (Jccrespi)"
	label-Code-Review = "-2..+2 group user/John  Crespi (Jccrespi)"
	label-Verified = "-1..+1 group user/John  Crespi (Jccrespi)"
	rebase = "group user/John  Crespi (Jccrespi)"
	removeReviewer = "group user/John  Crespi (Jccrespi)"
	submit = "group user/John  Crespi (Jccrespi)"
[access "refs/heads/*"]
	read = "group user/John  Crespi (Jccrespi)"
	create = "group user/John  Crespi (Jccrespi)"
	push = "+force group user/John  Crespi (Jccrespi)"
	pushMerge = "group user/John  Crespi (Jccrespi)"
[access "refs/tags/*"]
	push = "+force group user/John  Crespi (Jccrespi)"
	pushTag = "group user/John  Crespi (Jccrespi)"
	pushSignedTag = "group user/John  Crespi (Jccrespi)"
